{% extends 'layout.html.twig' %}

{% block title %}| Transportista  {{ transporte.nombreCompleto }} {% endblock %}

{% block content %}
    <h1>Transportista: {{ transporte.nombreCompleto }}</h1>
    <h3>Estado: {%  if (transporte.salidaProducto == 1) %} <i class="fas fa-shipping-fast"></i> Producto saliente {%  else %} En almacen {% endif %}</h3>
    <p>Telefono de contacto: {{ transporte.telefono }}</p>
    <p>Correo Electrónico: {{ transporte.email }}</p>


    <a href="{{ path('transportes_listar') }}"><button>Volver al listado de transportistas</button></a>
{% endblock %}