{% extends 'layout.html.twig' %}
{% block title %}
    | Lista de Transportistas
{% endblock %}

{% block content %}
    <h1>Lista de Transportistas</h1>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

    <table class="tablalista table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Nombre completo del transportista</th>
            <th>Teléfono de contacto</th>
            <th>Correo Electrónico</th>
            <th>Estado del Transportista</th>
        </tr>
        </thead>
        <tbody class="tablausuarios">
        {% for transporte in transportes %}
            <tr>
                <td>{{ transporte.nombreCompleto }}</td>
                <td>{{ transporte.telefono }}</td>
                <td>{{ transporte.email }}</td>
                <td>{%  if (transporte.salidaProducto == 1) %} <i class="fas fa-shipping-fast"></i> Producto saliente {%  else %} <i class="fas fa-warehouse"></i> En almacen {% endif %} </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay transportes para mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}