{% extends 'layout.html.twig' %}

{% block title %}
    Cambio de clave de acceso
{% endblock %}

{% block content %}
    <h1>Cambiar clave de acceso</h1>

    {{ form_start(formulario) }}
    {{ form_widget(formulario) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar cambios</button>
            <a href="{{ path('Inicio') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver a la portada</a>
        </div>
    </div>
    {{ form_end(formulario) }}
{% endblock %}