{% extends 'layout.html.twig' %}
{% block title '| Lista de usuarios sin productos' %}

{% block content %}
    <h1>Lista de usuarios sin productos</h1>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

    <table class=" table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Nombre usuario</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Nº de productos registrados</th>
        </tr>
        </thead>
        <tbody class="tablausuarios">
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.nombreUsuario }}</a></td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.productosAlta.count }}</td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="4">No hay usuarios para mostrar</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}