{% extends 'layout.html.twig' %}

{% block title %}
    <h1>Usuario: {{ usuario.nombre }} {{ usuario.apellido }}</h1>

    {{ form_start(formulario) }}
    | Usuario {{ usuario.nombre }} {{ usuario.apellido }}
{% endblock %}

{% block content %}
    {{ form_widget(formulario) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar cambios </button>
            {% if is_granted('ROLE_SUPERVISOR') %}
            {% if usuario.id %}<a href="{{ path('usuarios_eliminar', {'id': usuario.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar Usuario</a>{% endif %}
            {% endif %}
            <a href="{{ path('usuarios_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de usuarios </a>
        </div>
    </div>
    {{ form_end(formulario) }}
{% endblock %}