{% extends 'layout.html.twig' %}

{% block title %}
    Detalle: {{ usuario.nombreUsuario}}
{% endblock %}

{% block content %}
    <div class="info">
        <h1>Username: {{ usuario.nombreUsuario }}</h1>
        <h3>Nombre y apellido: {{ usuario.nombre }} {{ usuario.apellido }}</h3>
        <h3>Su estado actual es: {% if (usuario.activo == 1) %}Activo <i class="fa fa-check-circle"></i> {% else %} Inactivo <i class="fa fa-times-circle"></i> {% endif %}</h3>
        <h3>Función actual:
            {% if (usuario.administrador == 1) %}
                Administrador
            {% elseif (usuario.supervisor) == 1 %}
                Supervisor
            {% else %}
                Usuario
            {% endif %}
        </h3>
        <p>Email: {{ usuario.email }}</p>
    </div>
    <a href="{{ path('usuarios_listar') }}"><button>Volver al listado de usuarios</button></a>
{% endblock %}