{% extends 'layout.html.twig' %}
{% block title 'Lista de usuarios' %}

{% block content %}
    <h1>Lista de usuarios</h1>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
    {% if is_granted('ROLE_SUPERVISOR') %}
        <p class="well well-sm">
            <a href="{{ path('usuarios_nuevo') }}" class="btn btn-success"><i class="fa fa-user"></i> Nuevo usuario</a>
        </p>
    {% endif %}
    <table class="tablalista table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Nombre usuario</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Activo</th>
            <th>Rol</th>
            <th>Editar</th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            {% if is_granted('USUARIO_MODIFICAR', usuario) %}
            <tr>
                <td>{{ usuario.nombreUsuario }}</a></td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.email }}</td>
                <td> {% if (usuario.activo == 1) %} <i class="fa fa-check-circle"></i> {% else %} <i class="fa fa-times-circle"></i> {% endif %} </td>
                <td>{% if (usuario.administrador == 1) %}
                        Administrador
                    {% elseif (usuario.supervisor) == 1 %}
                        Supervisor
                    {% else %}
                        Empleado
                    {% endif %}</td>
            {% if is_granted('ROLE_ADMIN') %}<td><a href="{{ path('usuarios_editar', {'id': usuario.id}) }}"><i class="fas fa-edit"></i></a></td>{% endif %}
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="6">No hay departamentos para mostrar</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}