{% extends 'layout.html.twig' %}

{% block title %}
   | Detalle: {{ producto.nombreProducto }}
{% endblock %}

{% block content %}
    {% for mensaje in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ mensaje }}
        </div>
    {% endfor %}
    <h1>{{ producto.nombreProducto }}</h1>

    <div class="alert alert-warning">
        ¿Está seguro de que desea eliminar este producto? La operación no se puede deshacer.
    </div>
    <form method="post">
        <a href="{{ path('productos_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de ideas</a>
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar producto</button>
    </form>

{% endblock %}