{% extends 'layout.html.twig' %}

{% block title %}
   | Detalle: {{ producto.nombreProducto}}
{% endblock %}

{% block content %}
    <h1>{{ producto.nombreProducto }}</h1>
    <h3>Número de lotes:{{ producto.cantidad }}</h3>
    <h3>Fabricante:{{ producto.fabricante }}</h3>
    <h4>Transporte: {{ transporte.nombreCompleto }}</h4>

    <a href="{{ path('productos_listar') }}"><button>Volver al listado de productos</button></a>
{% endblock %}