{% extends 'layout.html.twig' %}
{% block title %}
    | Lista de productos
{% endblock %}

{% block content %}
    <h1>Lista de productos</h1>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

    {% if is_granted('ROLE_SUPERVISOR') %}
    <p class="well well-sm">
        <a href="{{ path('productos_nuevo') }}" class="btn btn-success"><i class="fas fa-box"></i> Nuevo producto</a>
    </p>
    {% endif %}
    <table class="tablalista table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Nombre del producto</th>
            <th>Cantidad de lotes</th>
            <th>Fabricante</th>
            {% if is_granted('ROLE_SUPERVISOR') %}
                <th>Editar</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>
                    {% if is_granted('PRODUCTO_VER', producto) %}
                        <a href="{{ path('productos_transporte', {'id': producto.id}) }}">{{ producto.nombreProducto }}</a>
                    {% else %}
                        {{ producto.nombreProducto }}
                    {% endif %}
                </td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.fabricante }}</td>

                 {% if is_granted('ROLE_SUPERVISOR') %}<td><a href="{{ path('productos_editar', {'id': producto.id}) }}"><i class="fas fa-edit"></i></a></td>{% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay productos para mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}