{% extends 'layout.html.twig' %}

{% block title %}
   | Producto: {{ producto.nombreProducto }}
{% endblock %}

{% block content %}
    <h1>{{ producto.nombreProducto ? producto.nombreProducto : 'Nuevo producto' }}</h1>
    {{ form_start(formulario) }}
    {{ form_widget(formulario) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar cambios</button>
            {% if producto.id %}<a href="{{ path('productos_eliminar', {'id': producto.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar producto</a>{% endif %}
            <a href="{{ path('productos_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de productos</a>
        </div>
    </div>
    {{ form_end(formulario) }}
{% endblock %}