<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Net-Depot {% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!--Cargando Bootstrap, CSS y Font-Awesome -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('fontawesome/web-fonts-with-css/css/fontawesome-all.css') }}" rel="stylesheet">
    <link href="{{ asset('fontawesome/web-fonts-with-css/css/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/netdepot.css') }}" rel="stylesheet">
    <!-- -->
    {% block javascripts %}
        <!--Cargando Jquery y Bootstrap JS -->
        <script src="{{ asset('jquery/jquery-3.2.1.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <!-- -->
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
