{% extends 'base.html.twig' %}

{% block body %}
    <!-- Fixed navbar -->
    <head>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="homelogo">
                <a class="navbar-brand" href="{{ path('Inicio') }}"><i class="fas fa-box-open"></i> Net-Depot </a>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {% if is_granted('ROLE_EMPLEADO') %}
                    <ul class="nav navbar-nav">
                    <li class="dropdown{% if app.request.attributes.get('_route') starts with 'usuario' %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i> Usuarios <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('usuarios_listar') }}">Listado de usuario/os</a></li>
                            {% if is_granted('ROLE_SUPERVISOR') %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('usuarios_conregistros') }}">Usuarios con registros de productos</a></li>
                            <li><a href="{{ path('usuarios_sinregistros') }}">Usuarios sin registros de productos</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a href="{{ path('productos_listar') }}"><i class="fas fa-boxes"></i> Productos </a></li>
                    <li><a href="{{ path('almacenes_listar') }}"><i class="fas fa-warehouse" aria-hidden="true"></i> Almacenes </a></li>
                    <li><a href="{{ path('departamentos_listar') }}"><i class="fas fa-dolly" aria-hidden="true"></i> Departamentos </a></li>
                    <li><a href="{{ path('transportes_listar') }}"><i class="fas fa-truck" aria-hidden="true"></i> Transportes </a></li>
                </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <p style="color: #2ab1f5" class="navbar-text">Conectado como {{ app.user }}</p>
                    {% endif %}
                    {% if app.user %}
                        <li><a href="{{ path('usuario_salir') }}"><i class="fas fa-power-off"></i> Salir </a></li>
                    {% else %}
                        <li><a href="{{ path('usuario_entrar') }}"><i class="fas fa-user"></i> Iniciar Sesión</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    </head>
        <div class="container">
            {% for mensaje in app.flashes('info') %}
                <div class="alert alert-info">
                    {{ mensaje }}
                </div>
            {% endfor %}
            {% for mensaje in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ mensaje }}
                </div>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
{% endblock %}