{% extends 'layout.html.twig' %}

{% block content %}
    <div class="inicio">
        <h1 class="jumbotron">¡Bienvenido a Net-Depot!</h1>
        <img src="{{ asset('img/netdepot0.gif') }}"  alt="net-depot">
    </div>
{% endblock %}
