{% extends 'layout.html.twig' %}
{% block title %}
    | Lista de productos
{% endblock %}
{% block content %}
    <h1>Lista de Almacenes</h1>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

    {% if is_granted('ROLE_SUPERVISOR') %}
    <p class="well well-sm">
        <a href="{{ path('almacenes_nuevo') }}" class="btn btn-success"><i class="fa fa-warehouse"></i> Nuevo almacen</a>
    </p>
    {% endif %}
    <table class="tablalista table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Nombre del almacen</th>
            <th>Dirección</th>
            {% if is_granted('ROLE_SUPERVISOR') %}
            <th>Editar</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for almacen in almacenes %}
            <tr>
                <td><a href="{{ path('almacen_departamento', {'id': almacen.id}) }}">{{ almacen.nombre }}</a></td>
                <td>{{ almacen.direccion }}</td>
                {% if is_granted('ROLE_SUPERVISOR') %}
                    <td>
                        <a href="{{ path('almacenes_editar', {'id': almacen.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No hay departamentos para mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}