{% extends 'layout.html.twig' %}

{% block title %}
    | Almacén: {{ almacen.nombre }}
{% endblock %}

{% block content %}
    <h1>{{ almacen.nombre ? almacen.nombre : 'Nuevo almacén' }}</h1>
    {{ form_start(formulario) }}
    {{ form_widget(formulario) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar cambios</button>
            {% if almacen.id %}<a href="{{ path('almacenes_eliminar', {'id': almacen.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar almacén</a>{% endif %}
            <a href="{{ path('almacenes_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de almacenes</a>
        </div>
    </div>
    {{ form_end(formulario) }}
{% endblock %}