{% extends 'layout.html.twig' %}
{% block title %}
    | Departamentos de {{ almacen.nombre }}
{% endblock %}
{% block content %}
    <h1>Almacen: {{ almacen.nombre }}</h1>

    <table class="tablalista table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Departamentos disponibles en este almacén</th>
        </tr>
        </thead>
        <tbody>
        {% for d in departamento %}
            <tr>
                <td>{{ d.nombre }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay departamentos para mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('departamentos_listar') }}"><button>Volver al listado de departamentos</button></a>
{% endblock %}