*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E8EDF1;
    padding-top: 5em;
}

h1{
    text-align: center;
}

th{
    text-align: center;
}

.tablausuarios{
    margin: auto;
    height: 1000px;
    width: 1000px;
    overflow:auto;
}

.inicio{
    text-align: center;
}

.tablalista tr{
    font-size: 1.2em;
    text-align: center;
}