{% extends 'layout.html.twig' %}

{% block title %}
   | Departamento: {{ departamento.nombre }}
{% endblock %}

{% block content %}

    <h1>{{ departamento.nombre ? departamento.nombre : 'Nuevo departamento' }}</h1>
    {{ form_start(formulario) }}
    {{ form_widget(formulario) }}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar cambios</button>
            {% if departamento.id %}<a href="{{ path('departamentos_eliminar', {'id': departamento.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar departamento</a>{% endif %}
            <a href="{{ path('departamentos_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de departamentos</a>
        </div>
    </div>
    {{ form_end(formulario) }}
{% endblock %}