{% extends 'layout.html.twig' %}
{% block title %}
    | Lista de departamentos
{% endblock %}
{% block content %}
    <h1>Lista de departamentos</h1>
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />

    {% if is_granted('ROLE_SUPERVISOR') %}
    <p class="well well-sm">
        <a href="{{ path('departamentos_nuevo') }}" class="btn btn-success"><i class="fa fa-dolly"></i> Nuevo departamento </a>
    </p>
    {% endif %}
    <table class="tablalista table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Nombre del departamento</th>
            <th>Descripción</th>
            <th>Editar</th>
        </tr>
        </thead>
        <tbody>
        {% for departamento in departamentos %}
            <tr>
                <td><a href="{{ path('departamento_almacen', {'id': departamento.id}) }}">{{ departamento.nombre }}</a></td>
                <td>{{ departamento.descripcion }}</td>
                <td><a href="{{ path('departamentos_editar', {'id': departamento.id}) }}"><i class="fas fa-edit"></i></a></td>
            </tr>

        {% else %}
            <tr>
                <td colspan="4">No hay departamentos para mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}