{% extends 'layout.html.twig' %}
{% block title %}
    | Almacenes de {{ departamento.nombre }}
{% endblock %}
{% block content %}
    <h1>Departamento: {{ departamento.nombre }}</h1>

    <table class="tablalista table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Departamento alojado en estos almacenes</th>
        </tr>
        </thead>
        <tbody class="tablausuarios">
        {% for a in almacen %}
            <tr>
                <td>{{ a.nombre }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay almacenes para mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('departamentos_listar') }}"><button>Volver al listado de departamentos</button></a>
{% endblock %}