{% extends 'layout.html.twig' %}

{% block title %} | Departamento: {{ departamento.nombre }} {% endblock %}

{% block content %}
    <h1>Departamento: {{ departamento.nombre }}</h1>
    <h3>Número de lotes:{{ departamento.descripcion }}</h3>

    <a href="{{ path('departamentos_listar') }}"><button>Volver al listado de departamentos</button></a>
{% endblock %}